//------------------------------------
//  Layout
//------------------------------------

html,
body
{
  height: 100%;
  width: 100%;
}

body
{
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;

  > iframe
  {
    display: none;
  }
}

#app
{
  height: 100%;
  width: 100%;
  min-height: 0;

  display: flex;

  background: url(./images/loading.gif) no-repeat center center;
  background-size: 64px;
}

.wrapper
{
  flex-direction: column;
}

.main
{
  width: 100%;

  flex-direction: row;
}

.main,
.wrapper
{
  height: 100%;
  min-height: 0;

  display: flex;
}

.__hidden
{
  display: none;
}

@media (max-width: 768px) {
  .main
  {
    flex-direction: column;
  }
}