.button
{
  display: inline-block;
  min-width: 160px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  outline: none;
  padding: 10px 20px;
  background: #84c243;
  text-decoration: none;
  border-radius: 3px;

  box-sizing: border-box;

  &_small
  {
    min-width: 0;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 2px;
    font-weight: 400;
  }
}