.footer
{
  height: 100px;
  padding: 20px;
  width: 100%;
  background: #191515;
  overflow: hidden;

  flex-shrink: 0;

  box-sizing: border-box;

  &-content
  {
    float: left;
    color: #fff;

    a
    {
      color: #fff;

      &:hover
      {
        text-decoration: none;
      }
    }
  }

  &-social
  {
    float: right;
  }
}

@media (max-width: 768px) {
  .footer
  {
    text-align: center;
    
    &-content,
    &-social
    {
      float: none;
    }
  }
}