.locations
{
  &-items
  {
    display: table;
  }

  &-item
  {
    display: table-row;
    position: relative;

    &_selected
    {
      background: #eee;
    }

    &:hover
    {
      background: #fafafa;
    }

    &__distance,
    &__name,
    &__weather,
    &__hotels
    {
      padding: 10px;
      display: table-cell;
      border-bottom: 1px solid #eee;
    }

    &__distance
    {
      font-weight: bold;
      background: #eee;
      text-align: center;
      white-space: nowrap;

      span
      {
        position: relative;

        &:after
        {
          content: '\2193';
          display: block;
          position: absolute;
          z-index: 1;
          top: 100%;
          left: 50%;
          margin-left: -4px;
        }
      }
    }

    &__name
    {
      width: 100%;
    }

    &__weather
    {
      cursor: pointer;
      
      img
      {
        height: 32px;
      }
    }

    &__hotels
    {
      position: relative;
      cursor: pointer;
      text-align: center;

      span
      {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        background: url('./images/icon-hotel.svg') no-repeat center center;
        background-size: 20px;
      }

      &.processing:after
      {
        background-color: transparent;
        background-size: 32px;
      }

      &:hover
      {
        img
        {
          opacity: 1;
        }
      }
    }

    &:last-child
    {
      border-bottom: 0;
    }

    &:last-child &__distance span:after
    {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .locations
  {
    overflow: hidden;

    &-item
    {
      &__weather,
      &__hotels
      {
        padding: 10px 5px;
      }
    }
  }
}