.map
{
  height: 100%;
  min-height: 0;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;

  #map
  {
    height: 100%;
    width: 100%;

    > ymaps
    {
      height: 100% !important;
      width: 100% !important;

      > *
      {
        height: 100% !important;
        width: 100% !important;
      }

      [class*="copyrights-promo"] {
        display: none;
      }
    }
  }

  &-loading
  {
    display: none;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;

    &_load
    {
      display: block;
    }

    &:before
    {
      content: '';
      height: 100%;
    }

    &__label
    {
      color: #fff;
      font-size: 18px;
      font-weight: bold;
    }

    &:before,
    &__label
    {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

@media (max-width: 768px) {
  .map
  {
    #map
    {
      position: absolute;
      top: 0;
      left: 0;
    }

    .ymaps-2-1-50-controls__control
    {
      right: 10px !important;
    }

    .ymaps-2-1-50-controls__control_toolbar
    {
      margin-right: 10px !important;
    }

    .ymaps-2-1-50-search_layout_normal
    {
      width: 100%;
    }
  }
}