.sidebar
{
  flex-shrink: 0;

  width: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
  
  transition: 0.3s;

  display: flex;
  flex-direction: row;

  &_locations
  {
    width: 400px;

    &.sidebar_hotels,
    &.sidebar_weather
    {
      width: 800px;
    }
  }

  &-block
  {
    overflow: auto;
    width: 400px;
    height: 100%;
    display: none;
    background: #fff;
    border-right: 2px solid #eee;
  }

  &_locations &-block
  {
    &_locations
    {
      display: block;
    }
  }

  &_hotels &-block
  {
    &_hotels
    {
      display: block;
    }
  }

  &_weather &-block
  {
    &_weather
    {
      display: block;
    }
  }
}

@media (max-width: 768px)
{
  .sidebar
  {
    width: 100%;
    height: 0;

    &_locations
    {
      height: auto;
      max-height: 50%;

      &.sidebar_hotels,
      &.sidebar_weather
      {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 100px;
        max-height: 100%;
      }
    }

    &-block
    {
      width: 100%;
      border: 0;
      height: auto;
    }

    &_hotels &-block
    {
      z-index: 1;

      &_locations
      {
        display: none;
      }
    }

    &_weather &-block
    {
      z-index: 1;

      &_locations
      {
        display: none;
      }
    }
  }
}