.weather
{
  &-header
  {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #eee;

    &__back
    {
      cursor: pointer;
      float: left;
      margin: -5px 10px -10px 0;
      padding: 10px;
      width: 16px;
      height: 16px;
      background: url('./images/icon-back.svg') no-repeat center center;
      background-size: 16px;
    }

    &__ttl
    {
      overflow: hidden;
      font-weight: 700;
      font-size: 18px;
    }
  }

  &-details
  {
    padding: 10px;

    &-header
    {
      overflow: hidden;
    }

    &__temp
    {
      font-size: 36px;
      font-weight: bold;
    }

    &__icon
    {
      float: right;
    }
  }

  &-param
  {
    overflow: hidden;

    &__ttl,
    &__val
    {
      padding: 10px 0;
    }

    &__ttl
    {
      float: left;
      font-weight: bold;
      padding-right: 10px;
    }

    &__val
    {
      float: right;
      text-align: right;
    }
  }

  &-forecast
  {
    min-height: 100px;

    &__title
    {
      font-size: 18px;
      font-weight: bold;
      padding:  0 10px 10px;
    }

    &-group
    {
      &__date
      {
        padding: 5px 10px;
        background: #00B1DD;
        color: #fff;
        font-weight: bold;
        border-bottom: 1px solid #fff;
        cursor: pointer;
      }
      
      &-rows
      {
        display: none;
        width: 100%;
      }

      &_selected &-rows
      {
        display: table;
      }

      &-row
      {
        display: table-row;
      }

      &-cell
      {
        display: table-cell;
        text-align: center;
        font-size: 14px;
        padding: 3px;
        border-bottom: 1px solid #eee;
      }
    }
  }
}